/* CSS for FacebankXBlock */


/* Container styling */
.devfacebank_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #f0f4ff;
}

#title-instruction {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

/* Main container styling */
.facebank-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Video container styling */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

.video-area {
  position: relative;
  display: inline-block;
}

#webcam {
  border: 5px solid #e0e0e0;
  border-radius: 10px;
  width: 680px;
  height: 100%;
}

/* Camera button styling */
#capture-button {
  position: absolute;
  bottom: 10px;
  /* Khoảng cách từ dưới cùng */
  left: 50%;
  transform: translateX(-50%);
  background-color: #FEFFEA;
  padding: 10px 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px gray,
      0 0 40px gray,
      0 0 60px gray;
}

#capture-button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

#capture-button i {
  font-size: 1.5rem;
  color: #333;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.image-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 10%;
}

.delete-button {
  padding: 0px;
  background-color: #FEFFEA;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  top: 5px;
  right: 5px;
}


/* Demo container styling */
.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.demo-container button {
  margin-top: 50px;
  background: rgb(90, 104, 211);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.demo-container button:hover {
  background-color: rgb(53, 68, 182);
  transform: translateY(-2px);
}

.demo-container button i {
  margin-left: 5px;
}

.demo-container h3 {
  font-size: 1rem;
  color: black;
  margin-bottom: 10px;
}

#example h3 {
  text-align: center;
}

#image-instruction {
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
}

#confirm-button {
  display: none;
}

.d-none {
  display: none;
}

@media screen and (min-width: 350px)  and (max-width: 699px) {
  #title-instruction {
      font-size: 13px;
  }

  #webcam {
    width: 60vw;
    height: 100%;
  }

  .devfacebank_block {
      padding: 15px;
  }

  .facebank-container {
      padding: 5px;
      width: 100%;
  }

  .video-container {
      width: 100%;
      margin: 0;
      flex: 4;
  }

  .demo-container {
      flex: 1;
  }

  .video-area {
      width: 100%;
      display: flex;
      justify-content: center;
  }
  #example {
      width: 3rem;
  }

  #example h3 {
      font-size: 10px !important;
  }

  .image-wrapper {
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
      overflow: hidden;
  }

  .delete-button {
      padding: 0px;
      background-color: #FEFFEA;
      text-align: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      border: none;
      top: 0px;
      right: 0px;
  }

  #status {
      font-size: 11px;
  }

  .demo-container button {
      margin: 13px 5px;
      background: rgb(90, 104, 211);
      color: white;
      border: none;
      border-radius: 5px;
      padding: 5px 8px;
      font-size: 0.7rem;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 700px) and (max-width: 1100px)  {
  #title-instruction {
      font-size: 30px;
  }

  .devfacebank_block {
      padding: 15px;
      width: 100%;
  }

  .facebank-container {
      padding: 15px;
      width: 100%;
  }

  #example {
      width: 7rem;
  }

  #example h3 {
      font-size: 20px !important;
  }

  #webcam {
    width: 65vw;
    height: auto;
}
  .image-wrapper {
      position: relative;
      width: 8rem;
      height: 8rem;
      overflow: hidden;
  }

  .delete-button {
      padding: 0px;
      background-color: #FEFFEA;
      text-align: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      border: none;
      top: 0px;
      right: 0px;
  }

  #status {
      font-size: 25px;
  }

  .demo-container button {
      margin: 40px 5px;
      background: rgb(90, 104, 211);
      color: white;
      border: none;
      border-radius: 5px;
      padding: 5px 8px;
      font-size: 1.5rem;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

}